aside{
    width: 220px;
    height: auto;
    background-color:var(--color-purple);
}
.sidebar-logo{
    width: 220px;
    height: 70px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.345) ;
}
.sidebar-rest{
    padding-left: 25px;
    margin-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.345) ;
}
.admin{
    height: 13vh;
}
.box-admin{
    margin-top: 35px;
    width: 190px;
    height: 50px;
    justify-self: center;
    border-radius: 15px;
    border:1px solid rgba(245, 245, 245, 0.252);
    background-color: rgba(255, 255, 255, 0.093);
    padding-left: 20px;
}

.name-admin{
    padding-top:5px;
    padding-left:50px;
    margin-right: 10px;
    font-size: 13px;
    font-weight:300;
    color: white ;
}
.class-admin{
    padding-left:50px;
    margin-right: 10px;
    font-size: 12px;
    font-weight:300;
    color: white ;
    opacity: 45%;
}

.first-text{
    margin-top: 17px;
    display: grid;
    
    
}
.logo-text{
    justify-self: center;
    font-size: 15px;
    font-weight:500;
    color: white;

}
.logo-text-two{
    margin-left: 59px;
    font-size: 13px;
    font-weight:500;
    color: white ;
    opacity: 45%;
    
}
.principal{
    font-size: 13px;
    font-weight:400;
    color: white;
    opacity: 45%;
    margin-top: 4px;
    margin-bottom: 3px;
}
.principal-icons{
    margin-right: 10px;
    font-size: 12px;
    font-weight:300;
    color: white ;
    
}
.principal-icons p{
    padding-top: 7px;
    padding-left: 30px;
    margin-bottom:7px;
    height: 35px;
    border-radius: 10px;
    
}
.principal-icons p:hover{
    background-color: rgb(108, 92, 231);
}
.principal-icons .fa-solid{  
    margin-right: 5px;
}
body{
    display: flex;
}
.top-bar{
    display: flex;
    height: 70px;
}
.top-right{
    margin-top: 10px;
    /*toda vez q for fzr commit mudar p 300px*/
    margin-left: 30px;
    display: flex;
}
.top-left{
    margin-top: 10px;
    margin-left: 10px;
}
.top-left p{
    font-size: 13px;
    color:darkgray;
}
.top-left h1{
    font-size: 23px;
    color:var(--color-dark-blue)
}
.notifications-button{
    margin:5px;
    background-color: rgba(108,92,231,0.07);
    border: 1px solid rgba(108,92,231,0.12);
    height: 40px;
    width: 40px;
    border-radius: 10px;
    color: var(--color-purple);
}
.coments-button{
    margin:5px;
    background-color: rgba(108,92,231,0.07);
    border: 1px solid rgba(108,92,231,0.12);
    height: 40px;
    width: 40px;
    border-radius: 10px;
    color: var(--color-purple);
}
.btn-primary{
    margin:5px;
    background: var(--color-purple);
    border: 1px solid rgba(108,92,231,0.12);
    border-radius: 15px;
    padding: 8px 12px;
    height: 43px;
    width: 150px;
}
.btn-primary:hover{
    background-color:rgb(108, 92, 231);
}

button.btn-primary p{
    color: white;
    font-size: 14px;
}
.search-bar .fa-solid{
    margin-top: 4px;
    margin-right:10px ;
    color: rgba(122, 122, 125, 0.63);
}
.search-bar{ 
    display: flex;
    margin:5px;
    background: rgba(108,92,231,0.07);
    border: 1px solid rgba(108,92,231,0.12);
    border-radius: 20px;
    padding: 8px 12px;
    height: 43px;

}
.search-bar input {
    
  border: none;
  outline: none;
  background: transparent;
  font-size: 14px;
  width: 200px;
}