.body-profile{
    margin: 0;
}
.navbar-profile{
    background-color: rgb(255, 255, 255);
    position: fixed;
    width: 100%;
    color: white;
    height: 96px;
    display: flex;
    align-items: center;
    top: 0;
    left: 0;
}
.logo-navbar{
    height: 50%;
    width: auto;
    margin-left: 2%;
}

.text-navbar{
    font-size: clamp(1rem, 1.2vw, 2rem);
    color: var(--color-purple);
    margin-left: 0.5%;
    font-weight: 600;
    letter-spacing: 0.06em;
}

.navbar-right{
    margin-left: auto;
    margin-right: 2%;
    display: flex;
    align-items: center;
    width: auto;
    gap:20px;
}
.btn-navbar{
    display: block;
    text-align: center;
    text-decoration: none;
    color: var(--color-dark-blue);
    padding: clamp(2px, 1vh, 4px) clamp(2px, 4vw, 15px);
    border-radius: 10px;
    font-size: clamp(0.7rem, 0.8vw, 1rem);
    font-weight: 400;
    position: relative;
    border:2px solid var(--color-purple)
}
.btn-navbar:hover{
    background-color: var(--color-light-gray);
    border: 2px solid var(--color-light-gray);
}
.banner{
    height: 230px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    margin-top: 96px;
    background: linear-gradient(
        135deg,
        var(--color-blue) 0%,
        var(--color-light-blue) 50%,
        var(--color-light-purple) 100%
    );
    
}
.change-banner{
    border: 1px solid rgb(255, 255, 255);
    font-size: clamp(0.7rem, 0.9vh, 1rem);
    padding: 6px;
    margin-right: 15px;
    border-radius: 10px;
}
.fa-camera{
    color: black;
    margin-right: 8px;
}
.main-content{
    max-width: 1100px;
    margin: auto;

}
.identity{
    display: flex;
    align-items: flex-end;
    margin-top: -50px;
    gap: 20px;
}
.user-icon{
    background: linear-gradient(135deg, var(--color-blue), var(--color-blue-secondary));
    width: 96px;
    height: 96px;
    border-radius: 12px;
    border: 4px solid white;
    font-size: 36px;
    display:flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: white;
    box-shadow: 0 8px 28px rgba(75, 60, 195, 0.3);
    position: relative;
}
.org-type{
    background-color: white;
    border-radius: 20px;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    gap: 5px;
    color: var(--color-blue);
    font-weight: 700;
    letter-spacing: 1px;
    margin-bottom: 6px;

}
.org-information{

}
