:root {
    --font-main: 'Poppins', sans-serif; /* Fonte geral utilizada no aplicativo */

    --color-purple: #4B3CC3; /* Cor roxa principal */
    --color-blue: #5170ff; /* Cor azul principal */
    --color-light-blue: #A3FFE1; /* Cor azul clara (usada no degradê da landing page) */
    --color-white: #ffffff; /* Cor branca */
  }
  