.banner-place{
    height: 300px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 20px;
    margin-top: 96px;
    background-image: url(../assets/images/convento.png);
    background-size: cover;
    background-position: center;  
    background-repeat: no-repeat;

}
.identity-place-section{
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 100%;
    gap: 470px;
    margin-bottom: 40px;
    background-color: var(--color-white);
    padding: 15px;
}
.box-structure{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
}
.box-tag{
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: var(--color-off-white);
    border: 1px solid var(--color-light-gray);
    padding: 15px;
    border-radius: 10px;
}
.tag-text{
    font-weight: 500;
    font-size: 12px;
}




/*Estilo dos ícones*/
.fa-car{
    background-color: rgba(103, 103, 232, 0.2);
    color: var(--color-blue);
    padding: 7px;
    border-radius: 6px;
}