*{
    box-sizing: border-box;
    font-size: 12px;
}

body{
    margin:0;

    background:
    linear-gradient(
        120deg,
        rgba(255,255,255,0.9) 0%,
        rgba(255,255,255,0.6) 30%,
        rgba(255,255,255,0) 60%
    ),
    linear-gradient(
        to bottom,
        #5170ff 0%,
        #A3FFE1 50%,
        #7aa8ff 100%
        
    );

    min-height:200vh;
}


.hero {
    display: grid;
    grid-template-columns: 45% 55%;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;   
}

.hero_cta_box{
    grid-column: 1;
    grid-row: 1;
    padding: 10%;
}

.hero_title{
    font-size: 9em;
    font-weight: bold;
    color: #4B3CC3;
    margin: 0;
    margin-bottom: 50%;
}

.hero_subtitle{
    font-size: 3em;
    color: #333;
    margin: 0;
}

.shape {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
    align-self: end;
    justify-self: center;
}

.woman {
    grid-column: 2;
    grid-row: 1;
    height: 100%;
    width: auto;
    align-self: end;
    justify-self: center;
    z-index: 2;
}

.section_features{
    display: grid;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;   
}
